<!DOCTYPE html>
<html>
  <head>
    <title>Cars</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <%= csrf_meta_tags %> <%= csp_meta_tag %> 
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %> 
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <div class="container-fluid vh-100">
      <div class="row vh-100">
        <%= render partial: "layouts/template/sidebar" %>
        <div class="col-10 hv-100" style="padding: 0">
          <!-- Top navbar -->
          <%= render partial: "layouts/template/navbar" %>
          <!-- Contains the main content of the webpage-->
          <%= render partial: "layouts/template/flash_message" %>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
